:root {
    /* BACKGROUND */
    --bgPrimary: #D1D5DB;
    --bgDark: #1E293B;
    --bgTeks: #3B82F6;

    /* Navigation */
    --navBg: #0F172A;

    /* Button */
    --btnPrimary: #FF383c;
    --btnSecondary: #F97316;

    /* TEKS */
    --textPrimary: #1f2937;
    --textSecondary: #f97316;
}

/* all selector start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--bgPrimary);
    padding: 120px;
}

/* NAVBAR START */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--navBg);
  position: fixed;
  top: 27px;
  left: 235px;
  right: 172px;
  z-index: 9999;
  border-radius: 40px;
  height: 88px;
}

.navbar-container .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-container img {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.navbar-container h2 {
  font-size: 16px;
  color: white;
  align-items: center;
  justify-content: center;
}

.navbar-container .navbar {
  display: flex;
  align-items: center;
}

.navbar-container .navbar a {
  color: #ffffff;
  display: flex;
  font-size: 16px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.navbar-container .navbar a:hover {
  color: var(--bgTeks);
  border: 20px;
}

.navbar-container .navbar a::after {
  content: ' ';
  display: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--bgTeks);
  transform: scaleX(0);
  transition: 0.2s linear;
}

/* NAVBAR END */

/* CARD CONTAINER */
.card-container{
    width:90%;
    margin:120px auto 40px auto;
    display:grid;
    justify-content: center;
    grid-template-columns:repeat(3, 320px);
    gap:20px;
}

/* CARD */
.card-mobil{
    background:#fff;
    border-radius:15px;
    padding:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card-mobil:hover{
    transform:translateY(-5px);
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.id-mobil{
    font-size:12px;
    color:#777;
}

.info-harga{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:15px;
    margin-bottom:15px;
}

.label-harga{
    font-size:16px;
    color:#666;
}

.harga{
    font-size:16px;
    font-weight:600;
    color:#ff9800;
}
.harga span{
    font-size:14px;
    font-weight:600;
    color:#666;
}

.status{
    padding:5px 12px;
    border-radius:20px;
    color:#fff;
    font-size:12px;
}

.tersedia{
    background:#2ecc71;
}

.disewa{
    background:#e74c3c;
}

.card-mobil h3{
    margin:15px 0;
    color:#1c2745;
    font-size:20px;
}

/* GAMBAR */
.gambar-mobil{
    width:100%;
    height:160px;
    overflow:hidden;
    border-radius:15px;
    background:#eee;
}

.gambar-mobil img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* HARGA */
.harga{
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
    color:#ff9800;
}

/* TOMBOL DI PALING BAWAH */
.btn-sewa{
    margin-top:auto;

    display:block;
    width:100%;
    text-align:center;

    background:#1c2745;
    color:white;
    text-decoration:none;

    padding:12px;
    border-radius:10px;
    font-weight:600;
}

.btn-sewa:hover{
    background:#2b3b61;
}

/* FORM PENGAJUAN START */
.form-container{
    width:450px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.form-container h1{
    text-align:center;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:600;
}

select,
input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
}

button{
    width:100%;
    margin-top:25px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#1d2942;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#142038;
}
/* FORM PENGAJUAN END */